/*CSS linked to game.html - 4th Practice :: Web Interfaces Design*/
:root {
  --obstacle-animation: 0;
}

@font-face {
  font-family: arcade;
  src: url('../assets/fonts/arcade_font.TTF');
}

@font-face {
  font-family: pixel;
  src: url('../assets/fonts/pixelmix.ttf');
}

/* GAME */
.game {
  width: 99%;
  height: 28.5em;
  border: 1px solid black;
  margin: auto;
  overflow: hidden;
  background-image: url("../assets/img/gifs/moving_city.gif");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.pannel{
  /* margin: auto; */
  width: 800px;
  height: 200px;
  position: absolute;
  left: calc(50% - 800px / 2);
  top: calc(50% - 200px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: arcade, Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 3px black;
  font-size: 5em;
  z-index: 4;
}
.pannel:hover{color: yellow; cursor: pointer;}

#runner {
  width: 120px;
  height: 120px;
  background-image: url("../assets/img/sprites/sprite_running_1.png");
  background-repeat: no-repeat;
  background-size: 120px 120px;
  position: relative;
  top: 330px;
  left: 50px;
  z-index: 2;
}

#floor{
  position: relative;
  top: 245px;
  width: 100%;
  height: 30px;
  border-top: 3px solid black;
  background-image: url('../assets/img/sprites/floor.png');
  background-size: contain;
  z-index: 0;
}

#score{
  /* margin: auto; */
  padding: 5px;
  text-align: center;
  font-size: 3em;
  position: absolute;
  left: calc(50% - 400px / 2);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  width: 400px;
  background-color: black;
  border: 2px dotted #777;
  color: 0;
  z-index: 3;
}

.restart{
  width: 100px;
  height: 40px;
  position: absolute;
  top: 65%;
  left: calc(50% - 100px / 2);
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: arcade, Arial, Helvetica, sans-serif;
  color: orange;
  -webkit-text-stroke: 1px black;
  font-size: 25px;
  cursor: pointer;
  z-index: 5;
}

/* Jump animation */
.jump {
  /* animation: jump 0.6s linear; */
  /* transition: all 0.6; */
  transform-origin: 50% 50%;
  animation: jump .6s linear alternate infinite;
}

@keyframes jump {
  0% {
    top: 330px;
  }
  15%{
    top: 265px;
  }
  30% {
    top: 200px;
  }

  50% {
    top: 200px;
  }

  65% {
    top: 250px;
  }

  80% {
    top: 300px;
  }

  100% {
    top: 330px;
  }
}

/* Obstacle element and animation*/
#obstacle {
  opacity: 0;
  width: 80px;
  height: 60px;
  position: relative;
  top: 270px;
  left: 1000px;
  background-image: url("../assets/img/sprites/obstacle.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}

@keyframes obstacle {
  0% {
    left: 1000px;
  }

  100% {
    left: -20px;
  }
}

/* Game Over animation */
.gameOver{
  animation: gameOver 1s linear;
}

@keyframes gameOver {
  0% {
    top: 330px;
  }

  50%{
    top: 280px
  }

  100% {
    top: 600px;
  }
}