.game {
    width: 99%;
    height: 28.5em;
    border: 1px solid black;
    margin: auto;
    background-image: url("../assets/img/moving_city.gif");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #runner {
    width: 120px;
    height: 120px;
    background-image: url("../assets/img/sprite_run_1.png");
    background-repeat: no-repeat;
    background-size: 120px 120px;
    position: relative;
    top: 330px;
    left: 50px;
  }
  
  .jump {
    animation: jump .6s linear;
    /* transition: all 0.6; */
  }
  
  @keyframes jump {
    0% {
      top: 330px;
    }
  
    30% {
      top: 250px;
    }
  
    50% {
      top: 250px;
    }

    65% {
      top: 250px;
    }
  
    80% {
      top: 250px;
    }

    100% {
      top: 330px;
    }
  }
  
  #obstacle {
    width: 20px;
    height: 40px;
    position: relative;
    top: 280px;
    left: 580px;
    border: 1px solid red;
    background-color: yellow;
    background-image: url("../assets/img/cactus.png");
    background-size: 20px 40px;
  
    animation: block 1s infinite linear;
  }
  
  @keyframes block {
    0% {
      left: 780px;
    }
  
    100% {
      left: -20px;
    }
  }
  