/*CSS linked to index.html - 4th Practice :: Web Interfaces Design*/
@font-face {
    font-family: arcade;
    src: url('../assets/fonts/arcade_font.TTF');
}

*{
    margin: 5px;
    padding: 5px;
    font-family: arcade, Arial, Helvetica, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: white;
}

/* Body, container and some options */
body{background-image: url('../assets/img/gifs/background.gif');}
.main-container{
    margin: auto;
    width: 1200px;
    /* height: 90vh; */
    border: 1px solid white;
}

.options{
    width: 300px;
}
.opt, .cre{
    display: flex;
    justify-content: center;
}

/* -------------------------- ANIMATION (game-container) -------------------------- */
.main-container {
    background: linear-gradient(270deg, rgba(153, 0, 255, 0.7), rgba(51, 25, 165, 0.7), rgba(5, 3, 99, 0.7));
    /* background: linear-gradient(270deg, #9900ff, #3319a5, #050363); */
    background-size: 600% 600%;

    -webkit-animation: fade 31s ease infinite;
    -moz-animation: fade 31s ease infinite;
    -o-animation: fade 31s ease infinite;
    animation: fade 31s ease infinite;
}

@-webkit-keyframes fade {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@-moz-keyframes fade {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@-o-keyframes fade {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@keyframes fade {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
/*--------------------------------------------------------------------------------*/

/* GAME */
.header-top{
    margin: auto;
    display: none;
    background-image: url('../assets/img/misc/neon_runner_1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 800px;
    height: 200px;
}
.header-top{display: none;}
.header-bot{display: flex;}
.header-bot{
    width: 800px;
    height: 200px;
    background-image: url('../assets/img/misc/neon_runner_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: calc(50% - 800px / 2);
    top: calc(50% - 200px / 2);
}

.game-container{
    margin: 50px;    
    border: 1px solid white;
    height: 30em;
    background-image: url('../assets/img/gifs/moving_city.gif');
    background-repeat: no-repeat;
    background-size: cover;
}


/* MENU */
.menu{
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    width: 400px;
    height: 200px;
}

.menu > *:hover, .opt:hover{
    color: yellow;
    cursor: pointer;
}
.opt, .cre{
    display: none;
    width: 400px;
}
#opt-music{color: red;}

.selected{text-shadow: 3px 3px 5px black; font-size: 30px;}
.selected::before, .selected:hover{
    content: ' -> ';
    position: relative;
}
.cre{font-size: 20px}
.gh, .highschool{
    /* text-decoration: none; */
    display: none;
    justify-content: center;
    align-items: center;
    color: yellow;
}

.info{
    margin: auto;
    position: relative;
    top: calc(50% - 400px / 2);
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;
    height: 400px;
    color: yellow;
    -webkit-text-stroke: 1px black;
    font-size: 40px;
}
.info > span{color: lime;}

.back{display: none;}

/* PROGRESS BAR*/
.progress-bar{
    margin: auto;
    display: none;
    /* visibility: hidden; */
    width: 80%;
    height: 50px;
    border: 1px solid white;
    position: relative;
    top: calc(50% - 50px);
}
.progress{
    width: 0%;
    height: 30px;
    display: none;
    color: white;
    /* visibility: hidden; */
    background-color: purple;
}

/* GAME <iframe> */
.neon-runner-game{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    opacity: 0;
    animation: blur 4s ease 0s;
}